<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin class="ro.sync.exml.plugin.Plugin"
    id="oxygen-dita-extensions-bundle-extension"
    name="Draft Comment Pseudo-Class Setter"
    description="Plugin that sets the '-oxy-contains-draft-comment' pseudo-class on the root element when draft comments are found in the document."
    version="1.0"
    vendor="Syncro Soft">

  <extension type="AdditionalFrameworks" path="framework"/>

</plugin>
