<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
  id="web-author-block-deleting-comments"
  name="web-author-block-deleting-comments"
  description="A plugin for oXygen XML Web Author that blocks a user from deleting comments added by another user."
    version="${project.nosnapshot.version}"
    vendor="Syncro Soft">

  <runtime>
    <librariesFolder name="lib" />
    <library name="target/classes" />
    <librariesFolder name="target/lib" />
  </runtime>

  <extension type="WorkspaceAccess" class="com.oxygenxml.CustomWorkspaceAccessPluginExtension"/>
</plugin>
