<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
  class="ro.sync.exml.plugin.Plugin"
  id="hide-filtered-content"
  name="Hide Filtered Content"
  description="Plugin that hides the content that is filtered by a DITAVAL file"
  version="1.0"
  vendor="Syncro Soft SRL">
    <extension type="WebappCSSResource" href="hide-filtered.css"/>
</plugin>

