<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//Oxygen Plugin" "../plugin.dtd">
<plugin
 id="com.oxygenxml.webauthor.web-author-view-final-track-changes"
 name="Default track changes view mode to final."
 description="Default track changes view mode to final."
 version="1.0"
 vendor="Syncro Soft"
 class="ro.sync.exml.plugin.Plugin">
</plugin>
