<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
  class="ro.sync.exml.plugin.Plugin"
  id="comments-only"
  name="Comments-only mode"
  description="Switches Web Author to a comment-only mode"
  version="1.0"
  vendor="Syncro Soft SRL">
    <extension type="WorkspaceAccessJS" href="wsAccess.js"/>
</plugin>

