<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
  class="com.oxygenxml.sample.cals.tables.CalsTablesSupportPlugin"
  id="cals-tables-plugin"
  name="CALS Table support for any XML document"
  description="Includes the CALS table support"
  version="1.0"
  vendor="Syncro Soft">

  <extension type="AuthorStylesheet" href="css/cals_table.css"/>
  <extension type="AdditionalFrameworks" path="css"/>
  
  <runtime>
    <librariesFolder name="lib" />
    <library name="target/classes" />
    <librariesFolder name="target/lib" />
  </runtime>
</plugin>
