<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
    class="com.oxygenxml.username.UserNameInsertOperationPlugin"

    id="user-name-insert-operation-plugin"
    name="Insert operation plugin (aware of user name) "
    description="A plugin for oXygen XML Web Author."
    version="${project.nosnapshot.version}"
    vendor="Syncro Soft SRL">

  <runtime>
    <librariesFolder name="lib" />
    <library name="target/classes" />
    <librariesFolder name="target/lib" />
  </runtime>
</plugin>
